html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 18px;
}
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
