//colors
@color-main: #ffffff;

@color-second: #000000;
@color-second-light: #333333;

@color-main-action: #81b3d2;

@color-second-action: #766357;

@gray-dark: #eeeeee;
@gray: #bdbbbc;
@gray-light: #f2f2f2;

//media
@screen-xs: 425px;
@screen-sm: 768px;
@screen-mp: 1200px;

//vertycal-rhytm
@font-family: 'PT Sans', sans-serif;

@font-size: 14px;
@font-size--h1: 21px;

@line-height: 18px;
@line-height--h1: 26px;